<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-be mb-2">
  <div class="container">
    <a class="navbar-brand" href="#"><h2 class="display-6">Waiter availability</h2></a>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="breadcrumb col-md-12 py-0">
      <p class="lead mt-1">Dashboard</p>
    </div>
  </div>

  <div class="row d-flex justify-content-between">
    <div class="card text-white bg-danger" style="max-width: 20rem;">
      <div class="card-header">Monday<span class="badge badge-secondary ml-2">0</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">View names</a></p>
      </div>
    </div>

    <div class="card text-white bg-danger" style="max-width: 20rem;">
      <div class="card-header">Tuesday<span class="badge badge-secondary ml-2">0</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">View names</a></p>
      </div>
    </div>

    <div class="card text-white bg-danger" style="max-width: 20rem;">
      <div class="card-header">Wednesday<span class="badge badge-secondary ml-2">0</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">View names</a></p>
      </div>
    </div>

    <div class="card text-white bg-danger" style="max-width: 20rem;">
      <div class="card-header">Thursday<span class="badge badge-secondary ml-2">0</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">View names</a></p>
      </div>
    </div>

    <div class="card text-white bg-danger" style="max-width: 20rem;">
      <div class="card-header">Friday<span class="badge badge-secondary ml-2">0</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">View names</a></p>
      </div>
    </div>

    <div class="card text-white bg-danger" style="max-width: 20rem;">
      <div class="card-header">Saturday<span class="badge badge-secondary ml-2">0</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">View names</a></p>
      </div>
    </div>

    <div class="card text-white bg-danger" style="max-width: 20rem;">
      <div class="card-header">Sunday<span class="badge badge-secondary ml-2">0</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">View names</a></p>
      </div>
    </div>

    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>

  </div>


</div>
