<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-be mb-2">
  <div class="container">
    <a class="navbar-brand" href="#"><h2 class="display-6">Waiter availability</h2></a>
    <a class="btn btn-primary" type="submit" href="/login" role="button">Log out</a>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="breadcrumb col-md-12 py-0">
      <p class="lead mt-1">Dashboard</p>
    </div>
  </div>

  <div class="row d-flex justify-content-between"  data-children=".item">
    <div class="card text-white bg-danger" style="max-width: 20rem;">
      <div class="card-header">Monday<span class="badge badge-secondary ml-2">0</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" data-parent="#exampleAccordion"  href="#mondayCollapse" aria-expanded="false" aria-controls="collapse1">view names <span class="lnr lnr-chevron-right"></span></a></p>
      </div>
    </div>

    <div class="card text-white bg-danger" style="max-width: 20rem;">
      <div class="card-header">Tuesday<span class="badge badge-secondary ml-2">0</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" data-parent="#exampleAccordion"  href="#tuesdayCollapse" aria-expanded="false" aria-controls="collapse2">view names <span class="lnr lnr-chevron-right"></span></a></p>
      </div>
    </div>

    <div class="card text-white bg-danger" style="max-width: 20rem;">
      <div class="card-header">Wednesday<span class="badge badge-secondary ml-2">0</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" data-parent="#exampleAccordion"  href="#wednesdayCollapse" aria-expanded="false" aria-controls="collapse3">view names <span class="lnr lnr-chevron-right"></span></a></p>
      </div>
    </div>

    <div class="card text-white bg-danger" style="max-width: 20rem;">
      <div class="card-header">Thursday<span class="badge badge-secondary ml-2">0</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" data-parent="#exampleAccordion"  href="#thursdayCollapse" aria-expanded="false" aria-controls="collapse4">view names <span class="lnr lnr-chevron-right"></span></a></p>
      </div>
    </div>

    <div class="card text-white bg-danger" style="max-width: 20rem;">
      <div class="card-header">Friday<span class="badge badge-secondary ml-2">0</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" data-parent="#exampleAccordion"  href="#fridayCollapse" aria-expanded="false" aria-controls="collapse5">view names <span class="lnr lnr-chevron-right"></span></a></p>
      </div>
    </div>

    <div class="card text-white bg-danger" style="max-width: 20rem;">
      <div class="card-header">Saturday<span class="badge badge-secondary ml-2">0</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" data-parent="#exampleAccordion"  href="#saturdayCollapse" aria-expanded="false" aria-controls="collapse6">view names <span class="lnr lnr-chevron-right"></span></a></p>
      </div>
    </div>

    <div class="card text-white bg-danger" style="max-width: 20rem;">
      <div class="card-header">Sunday<span class="badge badge-secondary ml-2">0</span></div>
      <div class="card-body">
        <p class="card-text"><a data-toggle="collapse" data-parent="#exampleAccordion"  href="#sundayCollapse" aria-expanded="false" aria-controls="collapse7">view names <span class="lnr lnr-chevron-right"></span></a></p>
      </div>
    </div>
</div>


    <div class="collapse mt-5 mx-5" id="mondayCollapse" role="tabpanel">
      <div class="card card-body">
        <h2 class="display-6">Monday</h2>
      </div>
    </div>


    <div class="collapse mt-5 mx-5" id="tuesdayCollapse" role="tabpanel">
      <div class="card card-body">
        <h2 class="display-6">Tuesday</h2>
      </div>
    </div>

    <div class="collapse mt-5 mx-5" id="wednesdayCollapse" role="tabpanel">
      <div class="card card-body">
        <h2 class="display-6">Wednesday</h2>
      </div>
    </div>

    <div class="collapse mt-5 mx-5" id="thursdayCollapse" role="tabpanel">
      <div class="card card-body">
        <h2 class="display-6"> Thursday</h2>
      </div>
    </div>

    <div class="collapse mt-5 mx-5" id="fridayCollapse" role="tabpanel">
      <div class="card card-body">
        <h2 class="display-6">Friday</h2>
      </div>
    </div>

    <div class="collapse mt-5 mx-5" id="saturdayCollapse" role="tabpanel">
      <div class="card card-body">
        <h2 class="display-6">Saturday</h2>
      </div>
    </div>

    <div class="collapse mt-5 mx-5" id="sundayCollapse" role="tabpanel">
      <div class="card card-body">
        <h2 class="display-6">Sunday</h2>
      </div>
    </div>
