<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between mb-3">
  <div class="container">
    <a class="navbar-brand" href="#"><h2 class="display-6">Waiter availability</h2></a>
  </div>
</nav>

<div class="container">
  <div class="jumbotron jumbotron-fluid pt-4">
    <div class="container">
      <h1 class="display-5">Welcome, {{username}}</h1>
      <p class="lead">Please select days that you'll be available on for work:</p>


      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-outline-danger active">
          <input type="checkbox" checked autocomplete="off">Monday
        </label>
        <label class="btn btn-outline-danger">
          <input type="checkbox" autocomplete="off">Tuesday
        </label>
        <label class="btn btn-outline-danger">
          <input type="checkbox" autocomplete="off">Wednesday
        </label>
        <label class="btn btn-outline-danger active">
          <input type="checkbox" checked autocomplete="off">Thursday
        </label>
        <label class="btn btn-outline-danger">
          <input type="checkbox" autocomplete="off">Friday
        </label>
        <label class="btn btn-outline-danger">
          <input type="checkbox" autocomplete="off">Saturday
        </label>
        <label class="btn btn-outline-danger">
          <input type="checkbox" autocomplete="off">Sunday
        </label>
      </div>
    </div>
  </div>


</div>
