<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between mb-3">
  <div class="container">
    <a class="navbar-brand" href="#"><h2 class="display-6">Waiter availability</h2></a>

    <a class="btn btn-primary" type="submit" href="/login" role="button">Log out</a>
  </div>
</nav>

<div class="container">
  <div class="col-md-12">
    <div class="jumbotron jumbotron-fluid pt-4">
      <div class="container">
        <form class="form-signin" action="/waiter/{{username}} " method="post">
        <h1 class="display-5">Welcome, {{username}}</h1>
        <p class="lead mb-4">Please select days that you'll be available on for work:</p>

        <div class="col-md-12 text-center mb-3">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-outline-danger">
              <input type="checkbox" name="day" value="Monday" {{#if shiftDays.Monday}}checked{{/if}} >Monday
            </label>
            <label class="btn btn-outline-danger">
              <input type="checkbox" name="day" value="Tuesday" {{#if shiftDays.Tuesday}}checked{{/if}} >Tuesday
            </label>
            <label class="btn btn-outline-danger">
              <input type="checkbox" name="day" value="Wednesday" {{#if shiftDays.Wednesday}}checked{{/if}} >Wednesday
            </label>
            <label class="btn btn-outline-danger">
              <input type="checkbox" name="day" value="Thursday" {{#if shitDays.Thursday}}checked{{/if}} >Thursday
            </label>
            <label class="btn btn-outline-danger">
              <input type="checkbox" name="day" value="Friday" {{#if shiftDays.Friday}}checked{{/if}} >Friday
            </label>
            <label class="btn btn-outline-danger">
              <input type="checkbox" name="day" value="Saturday" {{#if shiftDays.Saturday}}checked{{/if}} >Saturday
            </label>
            <label class="btn btn-outline-danger">
              <input type="checkbox" name="day" value="Sunday" {{#if shiftDays.Sunday}}checked{{/if}} >Sunday
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  </div>
</div>
